@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  background-color: #010326;
  color: #6FBFBF;
  text-align: center;
  
}

body {
  margin: 0;
  padding: 0;
}

h1{
  font-size: 70px;
}


h2{
  margin-bottom: 50px;
  letter-spacing: 2px;
  text-align: center;
  font-size: 33px;
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

/*Navbar*/
.navbar {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
  background-color: #010326;
  color: #6FBFBF;
  font-size: 20px;
  font-weight: bold;


}

.brand-title {
  max-width: 100%;
  height: auto;
  font-size: 1.5rem;
  margin: .5rem;
  
}

.navbar-links {
  height: 100%;
}

.navbar-links ul {
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  list-style: none;
}

.navbar-links li a {
  display: block;
  text-decoration: none;
  color: #6FBFBF;
  padding: 1rem;
}

.navbar-links li:hover {
  background-color: #393E59;
  border-radius: 20px;
}

.toggle-button {
  position: absolute;
  top: .75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #6FBFBF;
  border-radius: 10px;
}

@media (max-width: 560px) {
  .navbar {
      flex-direction: column;
      align-items: flex-start;
  }

  .toggle-button {
      display: flex;
  }

  .navbar-links {
      display: none;
      width: 100%;
  }

  .navbar-links ul {
      width: 100%;
      flex-direction: column;
  }

  .navbar-links ul li {
      text-align: center;
  }

  .navbar-links ul li a {
      padding: .5rem 1rem;
  }

  .navbar-links.active {
      display: flex;
  }
}

/*Titel*/
.ml11 {
  font-weight: 700;
  font-size: 6em;
  
}

.ml11 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.1em;
  padding-right: 0.05em;
  padding-bottom: 0.15em;

}

.ml11 .line {
  opacity: 0;
  position: absolute;
  left: 0;
  height: 100%;
  width: 3px;
  background-color: #fff;
  transform-origin: 0 50%;
}

.ml11 .line1 { 
  top: 0; 
  left: 0;
}

.ml11 .letter {
  display: inline-block;
  line-height: 1em;
}

@media (max-width: 950px) {
  .ml11 {
      font-size: 40px;
      
  }
}


/*Skills*/

.wrapper{
  position: center;
  display: flex;
  margin-left: 5px;
  margin-right: 5px;
  
}
.container{
  width: 100%;
  padding: 30px 30px 50px;
  background-color: #393E59;
  border-radius: 10px;
  position: center;
  margin: 3em 2em;

} 

.container *{
  font-weight: 500;
  background-color: #393E59;
  position: center;

}

.details{
  width: 100%;
  display: flex;  
  justify-content: space-between;
  margin-bottom: 10px;
}
.bar{
  position: relative;
  border: 2px solid #6FBFBF;
  border-radius: 20px;

}
.bar div{
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #6FBFBF;
}

.skills:not(:last-child){
  margin-bottom: 30px;
}

#html-bar{
  animation: html-fill 2s forwards;
}
@keyframes html-fill{
  100%{
      width: 60%;
  }
}

#css-bar{
  animation: css-fill 2s forwards;
}
@keyframes css-fill{
  100%{
      width: 75%;
  }
}

#javascript-bar{
  animation: javascript-fill 2s forwards;
}
@keyframes javascript-fill{
  100%{
      width: 50%;
  }
}

#angular-bar{
  animation: angular-fill 2s forwards;
}
@keyframes angular-fill{
  100%{
      width: 75%;
  }
}

/*Ueber Mich*/

/*Kontakt*/
form .half{
  display: flex;
  justify-content: space-between;
}

form .half .item{
  display: flex;
  flex-direction: column;
  margin-bottom: 24px;
  width: 48%;
}